env: JRUBY_OPTS=--debug
language: ruby

cache:
  bundler: true

sudo: false

script:
  - make test
  - make validate

notifications:
  email:
    holidaysgem@gmail.com

rvm:
  - 2.2.0
  - 2.3.0
  - 2.4.0
  - jruby-head
